
<div id='map'></div>
<div id='session-bar'>
    <a href='#' id='get-help'>help?</a>
    <a href='http://everythin.gs/here/s/4343' id='sessionid'>http://everythin.gs/here/s/4343</a>
</div>
<div id='help' style='display:none;'>
    <div class='content'>
    <h2>What is this!?</h2>
    <p>It's a map that's shared across computers. When you pan it, it pans everywhere else.</p>
    <p>By visiting this website, I made you a new map room accessible by the URL at the bottom. So right now there's noone else here - you can invite your friends or colleagues to join, or visit <a href='http://everythin.gs/here/s/everyone'>the everyone room</a> if you just want to see it in action.</p>
    <a href='#' id='close-help'>... so back to the map!</a>
    </div>
</div>
