<div id='map'></div>
<div id='madden'></div>
<div id='tilebaker'></div>
<div id='controls'>
    <a href='#' id='emperor'>emperor</a>
    <a href='#' id='control_madden'>madden</a>
    <a href='#' id='control_print'>print</a>
    <a href='#' id='tile'>tile</a>
</div>
