/*
 * http://www.colourlovers.com/palette/1633065/spring
 * */
html {
}
body {
  font:20px "Helvetica Neue", "Helvetica", sans-serif;
}
html, body, .page, #map, #madden {
  height:100%;
  width:100%;
  margin:0;
  padding:0;
}

/*
#madden {
  display:none;
  position:absolute;
  top:0;
  left:0;
  right:0;
}
  */

#controls {
  position:absolute;
  opacity:0.1;
  top:10px;
  left:10px;
  -webkit-transition-property:opacity;
  -webkit-transition-duration:1s;
}

#controls:hover {
  opacity:1;
}

#controls a {
  text-decoration:none;
  display:block;
}

#session-bar {
  opacity:0.5;
  background-color:#fff;
  padding:10px;
  position:absolute;
  bottom:0;
  left:0;
  right:0;
}

#session-bar a {
  color:#410746;
  margin-right:10px;
  text-decoration:none;
}
#session-bar a#get-help {
  color:#42109C;
}

#session-bar a#rename,
#session-bar a#rename-save {
  white-space: nowrap;
  color:#fff;
  background-color:#42109C;
  padding:3px;
  font-size:10px;
  margin-bottom:4px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
}

#session-bar a:hover {
  text-decoration:underline;
}

#session-bar:hover {
  opacity:1;
}

#help {
  position:absolute;
  background:#000;
  opacity:0.7;
  top:0;
  left:0;
  bottom:0;
  right:0;
}

#help .content {
  font:20px/30px "Helvetica Neue", "Helvetica", sans-serif;
  opacity:1;
  width:500px;
  color:#fff;
  margin-left:auto;
  margin-right:auto;
}

#help .content a {
  color:#42109C;
  opacity:1;
}

#help .content h2 {
  margin-top:1.5em;
  font:40px/50px "Georgia", serif;
}

#help .content p {
  margin-top:1em;
}

#help .content a#close-help {
  font:40px/50px "Helvetica Neue", "Helvetica", sans-serif;
}

/* iPhone [portrait + landscape] */
@media only screen and (max-device-width: 480px) {
  body {
    font:15px "Helvetica Neue", "Helvetica", sans-serif;
  }

  #help .content h2 {
    margin-top:0.5em;
    font:20px/30px "Georgia", serif;
  }

  #help .content {
    font:15px/20px "Helvetica Neue", "Helvetica", sans-serif;
    width:90%;
  }

  #help .content p {
    margin-top:1em;
  }

  #help .content a#close-help {
    font-weight:bold;
    font:20px/30px "Helvetica Neue", "Helvetica", sans-serif;
  }
}
