html, body, .page, #map, #madden {
  height:100%;
  width:100%;
  margin:0;
  padding:0;
}

#madden {
  display:none;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}

#controls {
  position:absolute;
  opacity:0.1;
  top:10px;
  left:10px;
  -webkit-transition-property:opacity;
  -webkit-transition-duration:1s;
}

#controls:hover {
  opacity:1;
}

#controls a {
  text-decoration:none;
  font:20px "Helvetica Neue", "Helvetica", sans-serif;
  display:block;
}
